[submodule "submodules/matlab/fdnToolbox"]
	path = submodules/matlab/fdnToolbox
	url = https://github.com/SebastianJiroSchlecht/fdnToolbox
[submodule "submodules/matlab/sdn-matlab"]
	path = submodules/matlab/sdn-matlab
	url = https://github.com/enzodesena/sdn-matlab
